.hero {
  padding-top: 20px;
}

.Content {
  display: flex;
  justify-content: space-between;
}

.infoContent {
  max-width: 743px;
}

.img {
  position: relative;
  right: -36px;
  width: 100%;
  height: auto;
}
