.link {
  display: block;
  text-decoration: none;
}

.mainTitle {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logoLink {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: #58a9a5;
}

.logoLink:active {
  filter: drop-shadow(0 0 2px #417c79);
}

.logoImg {
  display: block;
  width: 37px;
  height: 45px;
  margin-right: 14px;
}

.logoTitle {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-style: 35px;
  line-height: 35px;
  color: #58a9a5;
}

.logoLink:hover .logoTitle,
.logoLink:focus .logoTitle {
  color: #468683;
}

.navList {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 655px;
  list-style: none;
}

.navItem {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #404242;
  transition: all 0.3s;
}

.navItem span {
  position: relative;
  display: inline-block;
}

.navItem span::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 6px;
  background: #fec62d;
  border-radius: 21px;
  opacity: 0;
  transition: all 0.3s;
}

.navItem:hover {
  font-weight: 700;
}
.navItem:hover span {
  color: #58a9a5;
}

.navItem:first-child:hover span::after {
  left: 20%;
}

.navItem:hover span::after {
  left: 27%;
  width: 48px;
  opacity: 1;
}

.navItem:active {
  filter: drop-shadow(0 0 2px #417c79);
}

.navItem:active span::after {
  filter: drop-shadow(0 0 2px #fec62d);
}

.navItem:active span {
  color: #468683;
}

.navLink {
  composes: link;
  padding: 20px;
  color: #404242;
}
