@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-MediumItalic.woff2');
  font-display: swap;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-ExtraBold.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 334px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
  background-color: #ffffff;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #404242;
}

a:visited {
  color: #404242;
}

.wrapper {
  max-width: 1612px;
  margin: 0 auto;
  padding-top: 85px;
}

.button {
  display: inline-block;
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  background-color: #58a9a5;
  border-radius: 20px 20px 20px 0px;
  transition: all 0.3s;
}

.button:hover,
.button:focus {
  background-color: #468683;
  border-radius: 20px;
}

.button:active {
  filter: drop-shadow(0 0 2px #417c79);
}

.button:visited {
  color: #ffffff;
}

.title {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1c2323;
}

.description {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 736px;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
}

::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
}
